<!doctype html>
<html>
<!-- 所有页面的模板 -->
<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <style>
        /* @font-face {
        font-family: "DefaultFont";
        src: url("{{ url_for('static', filename='font/HYShiGuangTiW.ttf') }}");
        } */
        canvas#atom {
            background-image: url("{{ url_for('static', filename='data/background.jpg') }}");
        }
    </style>
    <script src="{{ url_for('static', filename='js/jquery-3.4.1.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/atom.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">    
    {% endblock %}
</head>

<body>
    <canvas id='atom'></canvas>
    <div id="container">
        <div id="menu">{% block menu %}{% endblock %}
        </div>
        <div id="workplace">{% block workplace %}{% endblock %}
        </div>
    </div>
    {% block bodyscript %}{% endblock %}
</body>
</html>