{% extends "index.html" %}
<!-- 编辑蒙版页面 -->
{% block head %}
    {{ super() }}
    <title>人呢？ - 编辑消除区域</title>
    <!-- css文件存储在static/css下，通过下面的方式调用 -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/modify.css') }}">
    {% endblock %}
{% block workplace %}
    <div id="region">
        <img id="source" src="{{ image }}" alt="source">
        <img id="mask" src="{{ mask }}" alt="source">
        <canvas id="maskedit"></canvas>
    </div>
{% endblock %}
{% block menu %}
<div style="width: 15%;">
    <span>
        <input class="slider" id="linewidth" type="range" min="1" max="80" step="1" value="25">
    </span>
</div>
<div style="width: 20%;">
</div>

<div style="width: 30%;">
    <button id="mode" value="pen" class="btn">Pencil</button>
</div>
<div style="width: 10%;">
    <form action="/result" method="POST" onsubmit="convert()">
        <button id="generate" name="maskgen" class="btn" type="submit">Generate</button>
    </form>
</div>
{% endblock %}
{% block bodyscript %}
<script>
    var penmode = true;
    var mousePressed = false;
    var lastX, lastY;
    var canvas, ctx;
    
    function convert() {
            $("#generate").attr("value", document.getElementById("maskedit").toDataURL("image/jpeg"));
        }


    $(document).ready(function () {
        var resizeTimer = null;
        InitThis();
    
        $(window).resize(function () {
            if (resizeTimer) clearTimeout(resizeTimer);
            resizeTimer = setTimeout(function () {
                resize_event();
            }, 500);
        });
    
        $("#mode").click(function() {
            penmode = !penmode;
            $(this).text((penmode) ? "Pencil" : "Eraser");
        });

    
        function InitThis() {
            canvas = document.getElementById('maskedit');
            ctx = document.getElementById('maskedit').getContext("2d");
            $('#maskedit').attr("width", "{{ width }}").attr("height", "{{ height }}");
            ctx.drawImage(document.getElementById("mask"),0,0);
            if(document.body.ontouchstart !== undefined) {
                canvas.ontouchstart = function(e) {
                    e.preventDefault();
                    mousePressed = true;
                    if(penmode){
                        Draw(e.touches[0].offsetX, e.touches[0].offsetY, false);
                    }
                    else{
                        Erase(e.touches[0].offsetX, e.touches[0].offsetY, true);
                    }
                };
                
                canvas.ontouchmove = function(e) {
                    e.preventDefault();
                    if (mousePressed) {
                        if(penmode){
                            Draw(e.touches[0].offsetX, e.touches[0].offsetY, true);
                        }
                        else{
                            Erase(e.touches[0].offsetX, e.touches[0].offsetY, true);
                        }
                    }
                };
    
                canvas.ontouchend = function(e) {
                    e.preventDefault();
                    mousePressed = false;
                };
                canvas.ontouchcancel = function(e) {
                    e.preventDefault();
                    mousePressed = false;
                };
            }
            else {
                $('#maskedit').mousedown(function (e) {
                    mousePressed = true;
                    if(penmode){
                        Draw(e.offsetX, e.offsetY, false);
                    }
                    else{
                        Erase(e.offsetX, e.offsetY, true);
                    }
                });
    
                $('#maskedit').mousemove(function (e) {    
                    if (mousePressed) {
                        if(penmode){
                            Draw(e.offsetX, e.offsetY, true);
                        }
                        else{
                            Erase(e.offsetX, e.offsetY, true);
                        }
                    }
                });
    
                $('#maskedit').mouseup(function (e) {
                    mousePressed = false;
                });
                $('#maskedit').mouseleave(function (e) {
                    mousePressed = false;
                });
            }
        }
    
        function Draw(x, y, isDown) {
            if (isDown) {
                ctx.beginPath();
                ctx.strokeStyle = "#FF0000";
                ctx.lineWidth = $("#linewidth").val();
                ctx.lineJoin = "round";
                ctx.moveTo(lastX, lastY);
                ctx.lineTo(x, y);
                ctx.closePath();
                ctx.stroke();
            }
            lastX = x; lastY = y;
        }
    
        function Erase(x, y, isDown) {
            if (isDown) {
                var width = $("#linewidth").val();
                var half = Math.floor(width / 2);
                ctx.clearRect(x-half, y-half, width, width);
            }
            lastX = x; lastY = y;
        }
    
    
        function  mode_change() {
            var mode = document.getElementById("mode");
            if(mode.getAttribute("value")=="pen"){
                mode.setAttribute("value", "eraser");
                mode.innerText = "Eraser";
            }
            else{
                mode.setAttribute("value", "pen");
                mode.innerText = "Pencil";
            }
        }
    
        resize_event();

    });

    function resize_event() {
            load_atom();
            var height = parseInt("{{ height }}");
            var width = parseInt("{{ width }}");
            var ratio, offsetX, offsetY;
            ratio = 0.95 * Math.min(0.9 * window.innerHeight / height, window.innerWidth / width);
            offsetX = ratio * 0.5 * (window.innerWidth - width);
            offsetY = ratio * 0.5 * (0.9 * window.innerHeight - height);
            $("#region").css("transform", "translate(" + offsetX + "px," + offsetY + "px) " + "scale(" + ratio + ")");
        }

    

</script>
{% endblock %}