{% extends "index.html" %}
<!-- 选择人物蒙版页面 -->
{% block head %}
    <title>Upload File</title>
    <style>
        /* 测试可以先写在这里面 */
    </style>
    <!-- css文件存储在static/css下，通过下面的方式调用 -->
    <!-- <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/layout.css') }}"> -->
{% endblock %}
{% block workplace %}
<div id='workplace' style="text-align: center;">
    <svg id='map' xmlns="http://www.w3.org/2000/svg" version="1.1" style="width:800px; height:800px;">
        <image xlink:href="{{ image }}"/>
        {% for poly in poly_list: %}
        <polygon class="person" points="{{ poly }}" style="opacity: 0.5; fill:#DD2222; stroke:#00000000; stroke-width:1" selection="1" />
        {% endfor %}
    </svg>
</div>
<form id='confirm' action="/modify" method="post" onsubmit="">
    {% for poly in poly_list: %}
    <input class='check' type="checkbox" value="1" checked=true>
    {% endfor %}
    <button type="submit">Confirm</button>
</form>
{% endblock %}
{% block menu %}{% endblock %}
{% block bodyscript %}
<script>
    $(document).ready(function(){
        $(".person").fadeTo(1, 0.25);
        $(".person").click(function(){
            if($(this).attr("selection") == "1"){
                $(this).attr("selection", "0").css("fill", "#22DD22");
            }
            else{
                $(this).attr("selection", "1").css("fill", "#DD2222");
            }
        });
        $(".person").hover(function(){
            $(this).fadeTo(100,0.5);
        },function(){
            $(this).fadeTo(100,0.25);
        });
        $("#confirm").submit(function(){                
            var select = document.getElementsByClassName("person");
            var checkbox = document.getElementsByClassName("check");
            for(i = 0; i < select.length; i++){
                checkbox[i].setAttribute("value", select[i].getAttribute("selection"));
                checkbox[i].setAttribute("name", i);
            }
        });
    });
</script>
{% endblock %}